<p class="fs-3 m-3">Add Product</p>
<form   >
<div class="form m-5">
  <label for="basic-url" class="form-label">Product Name</label>
<div class="input-group mb-3">
  
  <input  type="text" class="form-control" name="pName" placeholder="Enter Product Name"  required  pattern="" >

</div>
<div class="alert alert-warning" >
  <small > Name is required</small>
  
</div>

<label for="basic-url" class="form-label">Product ID</label>
<div class="input-group mb-3">
  <input type="number"  class="form-control" min=1 name="pID" placeholder="Enter Product ID" required >
</div>
<div class="alert alert-warning" >
  <small> ID is required</small>
  <small > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">Product Quantity</label>
<div class="input-group mb-3">
  <input type="number"  class="form-control" name="pQuantity" min=1 placeholder="Enter Quantity" required>
</div>
<div class="alert alert-warning" >
  <small > Quantity is required</small>
  <small > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">Product Price</label>
<div class="input-group mb-3">
  <input type="number"  class="form-control" min=1 name="pPrice" placeholder="Enter Price" required >
</div>
<div class="alert alert-warning">
  <small> Price is required</small>
  <small > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">Link Product Image</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pImg" placeholder="Enter Link Image" required>
</div>
<div class="alert alert-warning" >
  <small > Image is required</small>
</div>
<label for="basic-url" class="form-label">Avalible Sizes</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pSize" placeholder="Enter Avalible Sizes" >
</div>

<label for="basic-url" class="form-label">Avalible Dimentions</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pDimen" placeholder="Avalible Dimentions" >
</div>

<label for="basic-url" class="form-label">Description</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pDes" placeholder="Enter Description" required>
</div>
<div class="alert alert-warning" >
  <small > Image is required</small>
</div>
<label for="basic-url" class="form-label">Product Category</label>
<select class="form-control"   name="pCat" id=""  required >

 <option  >
  one
 </option>

</select>
<div class="alert alert-warning" >
  <small> Category is required</small>
</div>
<br><hr>
<button type="submit" class="btn btn-dark"

>Done</button><p class="fs-3 m-3">Add Product</p>
<form   >
<div class="form m-5">
  <label for="basic-url" class="form-label">Product Name</label>
<div class="input-group mb-3">
  
  <input  type="text" class="form-control" name="pName" placeholder="Enter Product Name"  required  pattern="" >

</div>
<div class="alert alert-warning" >
  <small > Name is required</small>
  
</div>

<label for="basic-url" class="form-label">Product ID</label>
<div class="input-group mb-3">
  <input type="number"  class="form-control" min=1 name="pID" placeholder="Enter Product ID" required >
</div>
<div class="alert alert-warning" >
  <small> ID is required</small>
  <small > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">Product Quantity</label>
<div class="input-group mb-3">
  <input type="number"  class="form-control" name="pQuantity" min=1 placeholder="Enter Quantity" required>
</div>
<div class="alert alert-warning" >
  <small > Quantity is required</small>
  <small > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">Product Price</label>
<div class="input-group mb-3">
  <input type="number"  class="form-control" min=1 name="pPrice" placeholder="Enter Price" required >
</div>
<div class="alert alert-warning">
  <small> Price is required</small>
  <small > zero is unexaptable</small>

</div>
<label for="basic-url" class="form-label">Link Product Image</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pImg" placeholder="Enter Link Image" required>
</div>
<div class="alert alert-warning" >
  <small > Image is required</small>
</div>
<label for="basic-url" class="form-label">Avalible Sizes</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pSize" placeholder="Enter Avalible Sizes" >
</div>

<label for="basic-url" class="form-label">Avalible Dimentions</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pDimen" placeholder="Avalible Dimentions" >
</div>

<label for="basic-url" class="form-label">Description</label>
<div class="input-group mb-3">
  <input type="text"  class="form-control" name="pDes" placeholder="Enter Description" required>
</div>
<div class="alert alert-warning" >
  <small > Image is required</small>
</div>
<label for="basic-url" class="form-label">Product Category</label>
<select class="form-control"   name="pCat" id=""  required >

 <option  >
  one
 </option>

</select>
<div class="alert alert-warning" >
  <small> Category is required</small>
</div>
<br><hr>
<button type="submit" class="btn btn-dark"

>Done</button>

</div>
</form>


</div>
</form>
